# ansno.1

In [1]:
import regex as re

In [2]:
sample_text='Python Exercises, PHP exercises.'
result=re.sub("[\s.,]",":",sample_text)
print(result)

Python:Exercises::PHP:exercises:

# ansno.2

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame({'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']})
print(df)

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [10]:
pattern="\s[0-9],;:!."
df['SUMMARY'].str.replace(pattern,lambda m:m.group())

C:\Users\win10\AppData\Local\Temp\ipykernel_7580\2997721274.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUMMARY'].str.replace(pattern,lambda m:m.group())

0             hello, world!
1                XXXXX test
2    123four, five:; six...
Name: SUMMARY, dtype: object

# ans3

In [2]:
import regex as re

In [6]:
pattern=re.compile('\w{4}')

In [7]:
string='this is jupiter book'
result=pattern.search(string)
print(result)

<regex.Match object; span=(0, 4), match='this'>

# ans4

In [9]:
pattern1=re.compile("(\w{3}\s)(\w{4}\s)(\w{5})")

In [11]:
target_string="Whether your business is early in its journey or well on its way to digital transformation"
reslt=pattern1.search(target_string)
print(reslt)

<regex.Match object; span=(4, 18), match='her your busin'>

# ans5

In [6]:
sample_text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
pattern=re.compile(".\s()")

In [5]:
for val in sample_text:
    match=pattern.search(sample_text)
    if val==match:
        print(match)

TypeError: expected string or buffer

# ans8

In [9]:
sample="RegularExpression1IsAn2ImportantTopic3InPython"
result=re.sub('\d+'," ",sample)
print(result)

RegularExpression IsAn ImportantTopic InPython

# ans11

In [5]:
def string(text):
    pattern="[A-Za-z0-9_]"
    if re.search(pattern,text):
        print('got a match')
    else:
        print('not a match')

In [6]:
text='it is a Jupitarnotebook12_'
string(text)

got a match

# ans12

In [19]:
def words(string):
    pattern1="\d\w"
    reslt=re.match(pattern1,string)
    if reslt==string:
        print('got a match :',reslt)
    else:
        print('not found a match')

In [20]:
string="2packets of chips in my bag"
words(string)

not found a match

# ans14

In [13]:
text="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

In [15]:
pattern2=r'\b([A-Za-z]+) \d{2}(?:th)? \d{4}\b'
reslt=re.search(pattern2,text)
print(reslt)
print(reslt.group())

<regex.Match object; span=(3, 19), match='August 15th 1947'>
August 15th 1947

# ans16

In [7]:
import regex as  re

In [10]:
text="The quick brown fox jumps over the lazy dog."
pattern='fox'
reslt=re.search(pattern,text)
print('found match within span length:'"\n",reslt)
print(reslt.group())
print(reslt.span())

found match within span length:
 <regex.Match object; span=(16, 19), match='fox'>
fox
(16, 19)

# ans17

In [12]:
text_file='Python exercises, PHP exercises, C# exercises'
pattern="exercises"
match=re.findall(pattern,text_file)
print(match)

['exercises', 'exercises', 'exercises']

# ans18

In [17]:
str="the quick brown fox jump ovr the lazy dog"
pattern3='quick'
matching=re.search(pattern3,str)
print('substring match:',matching.group())
print('position of substring:',matching.span())

substring match: quick
position of substring: (4, 9)

# ans20

In [2]:
pattern=re.compile("\d{2}.\d{2}")
stri_="01.120132.23 2.3156527.09670.25"
result=pattern.findall(stri_)
print(result)

['01.12', '32.23', '31565', '27.09', '70.25']

# ans22

In [3]:
st="marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
res=re.findall('\d+',st)
print(res)
print('largest numeric value\n',max(res))

['947', '896', '926', '524', '734', '950', '642']
largest numeric value
 950

# ans24

In [7]:
string='RegularExpressionIsAnImportantTopicInPython'
pattern="[A-Z][a-z]+"
match=re.findall(pattern,string)
print("words uppercase followed by lower case\n",match)

words uppercase followed by lower case
 ['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

# ans26

In [10]:
def check_string(text):
    pattern="[A-Z]+[0-9]+$"
    res=re.search(pattern,text)
    if res:
        print('found string end with alphanumeric\n',res.group())
        print(res.span())
    else:
        print('doesnot found string end with alphanumeric ')

In [11]:
check_string("my password is ABC146")

found string end with alphanumeric
 ABC146
(15, 21)

# ans27

In [6]:
sample='RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
pattern="(#[A-z]+)"
target=re.findall(pattern,sample)
print('matching content:\n',target)

matching content:
 ['#Doltiwal', '#xyzabc', '#Demonetization']

# ans28

In [5]:
text_file='"@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders'
pattern6="<U.\w{4}>"
result=re.sub(pattern6,'',text_file)
print('after removing symbol:\n',result)

after removing symbol:
 "@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# ans29

In [8]:
sample_text='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
pattern='(\d{2}-\d{2}-\d{4})+'
match=re.findall(pattern,sample_text)
print('extract dates\n',match)

extract dates
 [('12-09-1992',), ('15-12-1999',)]

# ans13

In [15]:
ip_address="345.04.233.0455"
pattern="\.[0]*"
result=re.sub(pattern,'.',ip_address)
print('removal of leading zeros:\n',result)

removal of leading zeros:
 345.4.233.455

# ans21

In [20]:
string="i have 500 rupees in my wallet"
pattern="\d+"
result1=re.search(pattern,string)
print("seprate number from string;\n",result1.group())
print('position of number;\n',result1.span())

seprate number from string;
 500
position of number;
 (7, 10)