In [1]:
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

# ans3

In [2]:
driver=webdriver.Chrome()
driver.get('https://statisticstimes.com/economy/india-statistics.php')

In [3]:
rank=[]
state=[]
gsdp_current_price=[]
gsdp=[]
share=[]

In [4]:
rn=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rn:
    if i.text is None:
        rank.append("--") 
    else:
        rank.append(i.text)

In [5]:
sta=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in sta:
    result=i.text
    state.append(result)

In [8]:
len(rank)

68

In [9]:
gd=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gd:
    re=i.text
    gsdp_current_price.append(re)

In [10]:
len(gsdp_current_price)

66

In [11]:
gsd=driver.find_elements(By.XPATH,'//td[@class="data"][4]')
for i in gsd:
    fd=i.text
    gsdp.append(fd)

In [12]:
shar=driver.find_elements(By.XPATH,'//td[@class="data"][2]')
for i in shar:
    rf=i.text
    share.append(rf)

In [20]:
state.pop()

'Andaman & Nicobar Islands'

In [25]:
data=pd.DataFrame({'RANK':rank,'STATES':state,'gsdp_current_price':gsdp_current_price,
                  'SHARE':share,'GSDP':gsdp})
data

   RANK             STATES gsdp_current_price   SHARE       GSDP
0     1        Maharashtra          3,108,022  13.24%          -
1     2         Tamil Nadu          2,071,286   8.82%  1,453,321
2     3      Uttar Pradesh          1,974,532   8.41%  1,304,678
3     4          Karnataka          1,962,725   8.36%  1,326,319
4     5            Gujarat          1,937,066   8.25%          -
..  ...                ...                ...     ...        ...
61   28            Manipur             31,669   0.16%     17,810
62   29  Arunachal Pradesh             31,519   0.16%     17,214
63   30             Sikkim             27,859   0.16%     16,764
64   31           Nagaland             24,293   0.14%     15,495
65   32            Mizoram              9,209   0.12%     15,847

[66 rows x 5 columns]

# ans4

In [7]:
url_1='https://github.com/trending'

In [8]:
driver=webdriver.Chrome()
driver.get(url_1)

In [9]:
Repository_Name =[]
Language=[]
repositary_description=[]
contributor_count=[]

In [10]:
name=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')

for i in name:
    res1=i.text
    Repository_Name.append(res1)

In [12]:
descr=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')

for i in descr:
    res2=i.text
    repositary_description.append(res2)

In [13]:
repositary_description

['locally hosted web application that allows you to perform various operations on PDF files',
 'Print-friendly, minimalist CV page',
 'gpt4all: open-source LLM chatbots that you can run anywhere',
 'An HTTP/1.1 client, written from scratch for Node.js',
 'Beautifully designed components that you can copy and paste into your apps. Accessible. Customizable. Open Source.',
 'Upserts, Deletes And Incremental Processing on Big Data.',
 'A unified evaluation framework for large language models',
 'GUI-focused roop',
 'Learn how to design systems at scale and prepare for system design interviews',
 'A curated awesome list of lists of interview questions. Feel free to contribute! üéì',
 'A small web app for watching movies and shows easily',
 'Debug remotely and easily like chrome devtools.',
 'ChatGLM3 series: Open Bilingual Chat LLMs | ÂºÄÊ∫êÂèåËØ≠ÂØπËØùËØ≠Ë®ÄÊ®°Âûã',
 "A modern react admin. It is based on react 18, vite and TypeScript. It's fast !",
 'ü¶ñ ùóüùó≤ùóÆùóøùóª about ùóüùóüùó†ùòÄ, ùóüùóüùó†ùó¢ùóΩùòÄ, and ùòÉùó≤ùó∞ùòÅùóºùóø ùóóùóïùòÄ for free by designing, training, and deploying a real-time financial advisor LLM system ~ ùò¥ùò∞ùò∂ùò≥ùò§ùò¶ ùò§ùò∞ùò•ùò¶ + ùò∑ùò™ùò•ùò¶ùò∞ & ùò≥ùò¶ùò¢ùò•ùò™ùòØùò® ùòÆùò¢ùòµùò¶ùò≥ùò™ùò¢ùò≠ùò¥',
 'StreamDiffusion: A Pipeline-Level Solution for Real-Time Interactive Generation',
 'Official PyTorch implementation of "TinySAM: Pushing the Envelope for Efficient Segment Anything Model"',
 'The Dom amongst the Flipper Zero Firmware. Give your Flipper the power and freedom it is really craving. Let it show you its true form. Dont delay, switch to the one and only true Master today!',
 'The instant on-demand atomic CSS engine.',
 'A Fundamental End-to-End Speech Recognition Toolkit and Open Source SOTA Pretrained Models.',
 'Ruta de estudio basada en ejercicios de c√≥digo semanales en 2024 de la comunidad MoureDev para aprender y practicar l√≥gica usando cualquier lenguaje de programaci√≥n.',
 'ü•≥ A React components collection for Web3!',
 'CSVs sliced, diced & analyzed.',
 'The Intuitive Vue Framework.',
 'Emu Series: Generative Multimodal Models from BAAI']

In [14]:
lang=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')

for i in lang:
    res3=i.text
    Language.append(res3)

In [18]:
len(Language)

23

In [19]:
counter=driver.find_elements(By.XPATH,'//span[@class="d-inline-block float-sm-right"]')

for i in counter:
    res4=i.text
    contributor_count.append(res4)

In [23]:
len(Language)

25

In [24]:
dataset=pd.DataFrame({'Repository_Name ':Repository_Name,'Language_type':Language,'repositary_description':repositary_description,
                     'contributor_count':contributor_count})
dataset

,Repository_Name,Language_type,repositary_description,contributor_count
0,Frooodle /,Java,locally hosted web application that allows you...,"2,681 stars today"
1,BartoszJarocki /,TypeScript,"Print-friendly, minimalist CV page",698 stars today
2,nomic-ai /,C++,gpt4all: open-source LLM chatbots that you can...,445 stars today
3,nodejs /,JavaScript,"An HTTP/1.1 client, written from scratch for N...",45 stars today
4,shadcn-ui /,TypeScript,Beautifully designed components that you can c...,253 stars today
5,apache /,Java,"Upserts, Deletes And Incremental Processing on...",11 stars today
6,microsoft /,Python,A unified evaluation framework for large langu...,246 stars today
7,Hillobar /,Python,GUI-focused roop,192 stars today
8,karanpratapsingh /,TypeScript,Learn how to design systems at scale and prepa...,484 stars today
9,DopplerHQ /,TypeScript,A curated awesome list of lists of interview q...,102 stars today
10,movie-web /,Python,A small web app for watching movies and shows ...,594 stars today
11,HuolalaTech /,TypeScript,Debug remotely and easily like chrome devtools.,54 stars today
12,THUDM /,Jupyter Notebook,ChatGLM3 series: Open Bilingual Chat LLMs | ÂºÄÊ∫ê...,56 stars today
13,d3george /,Python,"A modern react admin. It is based on react 18,...",54 stars today
14,iusztinpaul /,Python,"ü¶ñ ùóüùó≤ùóÆùóøùóª about ùóüùóüùó†ùòÄ, ùóüùóüùó†ùó¢ùóΩùòÄ, and ùòÉùó≤ùó∞ùòÅùóºùóø ùóóùóïùòÄ for...",41 stars today
15,cumulo-autumn /,C,StreamDiffusion: A Pipeline-Level Solution for...,467 stars today
16,xinghaochen /,TypeScript,"Official PyTorch implementation of ""TinySAM: P...",22 stars today
17,Flipper-XFW /,Python,The Dom amongst the Flipper Zero Firmware. Giv...,30 stars today
18,unocss /,Python,The instant on-demand atomic CSS engine.,43 stars today
19,alibaba-damo-academy /,TypeScript,A Fundamental End-to-End Speech Recognition To...,93 stars today
20,mouredev /,Rust,Ruta de estudio basada en ejercicios de c√≥digo...,36 stars today
21,ant-design /,TypeScript,ü•≥ A React components collection for Web3!,25 stars today
22,jqnatividad /,Python,"CSVs sliced, diced & analyzed.",137 stars today
23,nuxt /,"[java, typescript]",The Intuitive Vue Framework.,46 stars today
24,baaivision /,java,Emu Series: Generative Multimodal Models from ...,59 stars today

# ans5

In [2]:
url_2='https:/www.billboard.com/charts/'

In [3]:
driver=webdriver.Chrome()
driver.get(url_2)

In [5]:
tops100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
tops100.click()

In [6]:
song_name=[]
Artist_name=[]
last_week_rank=[]
peak_rank=[]
weak_on_board=[]

In [7]:
song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')

for i in song:
    ss1=i.text
    song_name.append(ss1)

In [8]:
song_name

['All I Want For Christmas Is You',
 "Rockin' Around The Christmas Tree",
 'Jingle Bell Rock',
 'Last Christmas',
 'A Holly Jolly Christmas',
 'Lovin On Me',
 "It's The Most Wonderful Time Of The Year",
 'Let It Snow, Let It Snow, Let It Snow!',
 'Feliz Navidad',
 'Sleigh Ride',
 'The Christmas Song (Merry Christmas To You)',
 'Santa Tell Me',
 'Underneath The Tree',
 "It's Beginning To Look A Lot Like Christmas",
 'White Christmas',
 'Jingle Bells',
 'Christmas (Baby Please Come Home)',
 'Cruel Summer',
 'Greedy',
 'Snooze',
 'Paint The Town Red',
 'Here Comes Santa Claus (Right Down Santa Claus Lane)',
 'Deck The Halls',
 "It's Beginning To Look A Lot Like Christmas",
 'Blue Christmas',
 'Water',
 'Run Rudolph Run',
 'I Remember Everything',
 'Agora Hills',
 'Santa Baby',
 'Little Saint Nick',
 'Please Come Home For Christmas',
 'Last Night',
 "You're A Mean One, Mr. Grinch",
 "Santa Claus Is Comin' To Town",
 'Wonderful Christmastime',
 "Thinkin' Bout Me",
 'Rudolph The Red-Nosed Reindeer',
 'Everybody',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 'Lose Control',
 'FTCU',
 "Like It's Christmas",
 'Happy Holiday / The Holiday Season',
 'This Christmas',
 'Fast Car',
 'Lil Boo Thang',
 'Happy Xmas (War Is Over)',
 'What Was I Made For?',
 'Rich Baby Daddy',
 'First Person Shooter',
 'White Horse',
 'Stick Season',
 'Used To Be Young',
 'World On Fire',
 'Good Good',
 'Houdini',
 'My Love Mine All Mine',
 'Pretty Little Poison',
 'Exes',
 'Surround Sound',
 'On My Mama',
 'IDGAF',
 'Monaco',
 'Needle',
 'Strangers',
 'Wild Ones',
 'Get Him Back!',
 'Harley Quinn',
 'You Broke My Heart',
 'Bellakeo',
 'Truck Bed',
 'Save Me The Trouble',
 'Beep Beep',
 '500lbs',
 'La Diabla',
 "You're Losing Me (From The Vault)",
 'Where The Wild Things Are',
 'Standing Next To You',
 'The Painter',
 'Jingle Bells',
 'Qlona',
 'Crazy',
 'Never Lose Me',
 'Lace It',
 'Burn It Down',
 "Can't Catch Me Now",
 'Mind On You',
 'Segun Quien',
 'Feather',
 'La Victima',
 'Hey Driver',
 'Wondering Why',
 'DJ Play A Christmas Song',
 "Different 'Round Here",
 'Winter Wonderland',
 'Run For The Hills',
 'Que Onda',
 'Great Gatsby',
 'One Of The Girls']

In [11]:
artists=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')

for i in artists:
    ss2=i.text
    Artist_name.append(ss2)

In [14]:
Artist_name.pop()

'The Weeknd, JENNIE & Lily Rose Depp'

In [15]:
ranks=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')

for i in ranks:
    ss3=i.text
    last_week_rank.append(ss3)

In [16]:
peak=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')

for i in peak:
    ss4=i.text
    peak_rank.append(ss4)

In [17]:
len(peak_rank)

100

In [18]:
weakon=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')

for i in weakon:
    ss5=i.text
    weak_on_board.append(ss5)

In [19]:
len(weak_on_board)

100

In [20]:
dataset1=pd.DataFrame({'Song_name':song_name,'Artist_name':Artist_name,'peak_rank':peak_rank,
                      'last_week_rank':last_week_rank,' Weak_on_board': weak_on_board})
dataset1

,Song_name,Artist_name,peak_rank,last_week_rank,Weak_on_board
0,All I Want For Christmas Is You,Mariah Carey,1,1,64
1,Rockin' Around The Christmas Tree,Mariah Carey,1,2,57
2,Jingle Bell Rock,Brenda Lee,3,3,55
3,Last Christmas,Bobby Helms,4,4,37
4,A Holly Jolly Christmas,Wham!,4,5,38
...,...,...,...,...,...
95,Winter Wonderland,Riley Green Featuring Luke Combs,96,-,1
96,Run For The Hills,Chloe,69,69,2
97,Que Onda,Tate McRae,61,92,12
98,Great Gatsby,Calle 24 x Chino Pacas x Fuerza Regida,30,-,13
99,One Of The Girls,Rod Wave,100,-,1

In [21]:
driver.close()

# ans6

In [4]:
url2='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

In [5]:
driver=webdriver.Chrome()
driver.get(url2)

In [6]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [7]:
names=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')

for i in names:
    f1=i.text
    Book_name.append(f1)

In [8]:
Book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [9]:
len(Book_name)

100

In [11]:
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')

for i in author:
    f2=i.text
    Author_name.append(f2)

In [12]:
len(Author_name)

100

In [13]:
volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')

for i in volume:
    f3=i.text
    Volumes_sold.append(f3)

In [14]:
len(Volumes_sold)

100

In [15]:
publis=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')

for i in publis:
    f4=i.text
    Publisher.append(f4)
print(len(Publisher))

100

In [16]:
genr=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')

for i in genr:
    f5=i.text
    Genre.append(f5)
print(len(Genre))

100

In [17]:
novels=pd.DataFrame([])
novels['Book_name']=Book_name
novels['Author_name']=Author_name
novels['Genre']=Genre
novels['Publisher']=Publisher
novels['Volumes_sold']=Volumes_sold
novels

,Book_name,Author_name,Genre,Publisher,Volumes_sold
0,"Da Vinci Code,The","Brown, Dan","Crime, Thriller & Adventure",Transworld,"5,094,805"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,475,152"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,200,654"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,179,479"
4,Fifty Shades of Grey,"James, E. L.",Romance & Sagas,Random House,"3,758,936"
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert",General & Literary Fiction,Random House,"807,311"
96,Happy Days with the Naked Chef,"Oliver, Jamie",Food & Drink: General,Penguin,"794,201"
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Young Adult Fiction,Scholastic Ltd.,"792,187"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Biography: General,Orion,"791,507"
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Food & Drink: General,Penguin,"791,095"

# ans1

In [5]:
url1='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [6]:
driver=webdriver.Chrome()
driver.get(url1)

In [38]:
Rank=[]
Name=[]
Artist_name=[]
Upload_Date=[]
Views=[]

In [30]:
songs=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')

for i in songs:
    tm1=i.text
    Name.append(tm1)
print(len(Name))

30

In [31]:
Name

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[17]',
 '"Bath Song"[18]',
 '"Shape of You"[19]',
 '"See You Again"[22]',
 '"Wheels on the Bus"[27]',
 '"Phonics Song with Two Words"[28]',
 '"Uptown Funk"[29]',
 '"Learning Colors ‚Äì Colorful Eggs on a Farm"[30]',
 '"Gangnam Style"[31]',
 '"Masha and the Bear ‚Äì Recipe for Disaster"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Sugar"[39]',
 '"Counting Stars"[40]',
 '"Roar"[41]',
 '"Baa Baa Black Sheep"[42]',
 '"Waka Waka (This Time for Africa)"[43]',
 '"Lakdi Ki Kathi"[44]',
 '"Sorry"[45]',
 '"Thinking Out Loud"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Dark Horse"[48]',
 '"Perfect"[49]',
 '"Shree Hanuman Chalisa"[50]',
 '"Let Her Go"[51]',
 '"Faded"[52]',
 '"Girls Like You"[53]',
 '"Lean On"[54]']

In [32]:
view=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')

for i in view:
    tm3=i.text
    Views.append(tm3)
print(len(Views))
print(Views)

30
['13.78', '8.33', '6.85', '6.52', '6.15', '6.11', '5.74', '5.59', '5.10', '5.03', '4.98', '4.57', '4.49', '4.19', '3.97', '3.93', '3.92', '3.86', '3.80', '3.78', '3.74', '3.70', '3.65', '3.64', '3.61', '3.57', '3.57', '3.56', '3.53', '3.51']

In [39]:
uploadings=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')

for i in uploadings:
    tm8=i.text
    Artist_name.append(tm7)
print(len(Artist_name))
print(Artist_name)

30
['Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official', 'Major Lazer Official']

In [34]:
dates=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')

for i in dates:
    tm4=i.text
    Upload_Date.append(tm4)
print(len(Upload_Date))
print(Upload_Date)

30
['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'May 31, 2013', 'September 5, 2013', 'June 25, 2018', 'June 4, 2010', 'June 14, 2018', 'October 22, 2015', 'October 7, 2014', 'January 26, 2018', 'February 20, 2014', 'November 9, 2017', 'May 10, 2011', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

In [42]:
driver.close

# ans8

In [2]:
url1='https://archive.ics.uci.edu/'

In [3]:
driver=webdriver.Chrome()
driver.get(url1)

In [4]:
allsets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
allsets.click()

In [6]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [7]:
start=0
end=10
for page in range(start,end):
    names_=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    for i in names_:
        Dataset_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(3)

In [8]:
print(Dataset_name)

['Iris', 'Dry Bean Dataset', 'Rice (Cammeo and Osmancik)', 'Heart Disease', 'Adult', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Diabetes', 'Wine Quality', 'Car Evaluation', 'Bank Marketing', 'Mushroom', 'Abalone', 'Census Income', 'Student Performance', 'Statlog (German Credit Data)', 'Automobile', 'Breast Cancer', 'Online Retail', 'Auto MPG', 'Breast Cancer Wisconsin (Original)', 'Spambase', "Predict students' dropout and academic success", 'Glass Identification', 'Thyroid Disease', 'Credit Approval', 'Air Quality', 'Optical Recognition of Handwritten Digits', 'Zoo', 'Online Retail II', 'default of credit card clients', 'Human Activity Recognition Using Smartphones', 'Bike Sharing Dataset', 'Lung Cancer', 'Liver Disorders', 'Covertype', 'SMS Spam Collection', 'Letter Recognition', 'Ionosphere', 'Individual household electric power consumption', 'Online Shoppers Purchasing Intention Dataset', 'Internet Advertisements', 'Hepatitis', 'MAGIC Gamma Telescope', 'Computer Hardware', 'Forest Fires', 'Estimation of obesity levels based on eating habits and physical condition', 'Congressional Voting Records', 'Heart failure clinical records', 'Yeast', 'Connectionist Bench (Sonar, Mines vs. Rocks)', 'Image Segmentation', 'Diabetes 130-US hospitals for years 1999-2008', 'Tic-Tac-Toe Endgame', 'Pen-Based Recognition of Handwritten Digits', 'seeds', 'Nursery', 'Arrhythmia', 'Statlog (Australian Credit Approval)', 'Real estate valuation data set', 'Breast Cancer Wisconsin (Prognostic)', 'Balance Scale', 'Energy efficiency', 'EEG Database', 'Soybean (Large)', 'Seoul Bike Sharing Demand', 'Statlog (Heart)', 'CDC Diabetes Health Indicators', 'Wholesale customers', 'Reuters-21578 Text Categorization Collection', 'Dermatology', 'Apartment for rent classified', 'Concrete Compressive Strength', 'Parkinsons', 'Statlog (Landsat Satellite)', 'AI4I 2020 Predictive Maintenance Dataset', 'Ecoli', 'Solar Flare', 'Statlog (Shuttle)', 'Movie', 'Statlog (Vehicle Silhouettes)', 'Insurance Company Benchmark (COIL 2000)', 'Online News Popularity', 'ISOLET', 'Contraceptive Method Choice', 'Soybean (Small)', 'Molecular Biology (Promoter Gene Sequences)', 'Protein Data', 'ElectricityLoadDiagrams20112014', 'Statlog Project', 'Waveform Database Generator (Version 1)', 'banknote authentication', 'Lenses', 'Chronic_Kidney_Disease', 'Flags', 'Horse Colic', 'CMU Face Images', 'KDD Cup 1999 Data', 'Early stage diabetes risk prediction dataset.', 'Anonymous Microsoft Web Data']

In [28]:
start=0
end=10
for page in range(start,end):
    ts6=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
    for i in ts6:
        Task.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(3)

In [27]:
Task.clear()

In [17]:
start=0
end=10
for page in range(start,end):
    ts1=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
    for i in ts1:
        Data_type.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(3)

In [47]:
len(Data_type)
print(Data_type)

['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Sequential, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Domain-Theory', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate, Sequential, Time-Series, Text', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Text, Domain-Theory', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular, Multivariate', 'Multivariate', 'Text', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', '', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Sequential, Domain-Theory', '', 'Time-Series', 'Other', 'Multivariate, Data-Generator', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Image', 'Multivariate', 'Multivariate', 'null']

In [21]:
start=0
end=10
for page in range(start,end):
    ts2=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
    for i in ts2:
        No_of_instances.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(3)

In [22]:
len(No_of_instances)

100

In [23]:
print(No_of_instances)

['2.46K Instances', '432 Instances', '306 Instances', '19.74K Instances', '3.19K Instances', '1.2K Instances', '215.06K Instances', '1.52M Instances', '476 Instances', '132 Instances', '9.57K Instances', '705 Instances', '2.1K Instances', '16 Instances', '299.29K Instances', '839 Instances', '167 Instances', '339 Instances', '267 Instances', '1.99K Instances', '2.46M Instances', '2K Instances', '3.2K Instances', '1.02K Instances', '338 Instances', '3K Instances', '50K Instances', '100 Instances', '798 Instances', '740 Instances', '11M Instances', '1.89K Instances', '67.56K Instances', '63M Instances', '148 Instances', '125 Instances', '145 Instances', '23 Instances', '5.88K Instances', '28.06K Instances', '11M Instances', '1.89K Instances', '67.56K Instances', '63M Instances', '148 Instances', '125 Instances', '145 Instances', '23 Instances', '5.88K Instances', '28.06K Instances', '6.65K Instances', '5.47K Instances', '750 Instances', '20K Instances', '10.5K Instances', '2.26M Instances', '5K Instances', '226 Instances', '6.82K Instances', '980 Instances', '858 Instances', '', '160 Instances', '420.77K Instances', '6.29K Instances', '583 Instances', '', '100 Instances', '68.04K Instances', '14.22K Instances', '811 Instances', '14.06M Instances', '178.08K Instances', '90 Instances', '6.6K Instances', '48.2K Instances', '50.67K Instances', '128 Instances', '', '2.13K Instances', '267 Instances', '2.31K Instances', '116 Instances', '1K Instances', '11.5K Instances', '6.46M Instances', '2.1K Instances', '748 Instances', '191.78K Instances', '43.82K Instances', '181.8K Instances', '120 Instances', '10 Instances', '15 Instances', '500 Instances', '2.14K Instances', '528 Instances', '244 Instances', '2.57K Instances', '108 Instances']

In [24]:
start=0
end=10
for page in range(start,end):
    ts3=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
    for i in ts3:
        No_of_attribute.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(3)

In [25]:
print(No_of_attribute)
print(len(No_of_attribute))

['13 Features', '5.63K Features', '10 Features', '115 Features', '52 Features', '60.66K Features', '237 Features', '', '23 Features', '13 Features', '6 Features', '4 Features', '', '', '754 Features', '', '5 Features', '12 Features', '7 Features', '11 Features', '21 Features', '3 Features', '42 Features', '', '16 Features', '', '90 Features', '8 Features', '17 Features', '', '81 Features', '12 Features', '14 Features', '42 Features', '', '28 Features', '148 Features', '', '', '61 Features', '22 Features', '591 Features', '14 Features', '20.53K Features', '11 Features', '7 Features', '', '', '43.68K Features', '21 Features', '', '70 Features', '16 Features', '100K Features', '', '518 Features', '129 Features', '', '86 Features', '4 Features', '25 Features', '16 Features', '10 Features', '280 Features', '20K Features', '20 Features', '1.2K Features', '5 Features', '28 Features', '9 Features', '105 Features', '7 Features', '19 Features', '36 Features', '', '', '18 Features', '242 Features', '82 Features', '7 Features', '147 Features', '6 Features', '', '5 Features', '54 Features', '116 Features', '7 Features', '8 Features', '10K Features', '', '', '5 Features', '8 Features', '11 Features', '19 Features', '', '10 Features', '36 Features', '', '20 Features']
100

In [33]:
len(Data_type)

100

In [36]:
ml_dataset=pd.DataFrame({'Dataset_name':Dataset_name,'Data_type':Data_type,
                        'task':Task,'No_of_instances':No_of_instances,'No_of_attribute':No_of_attribute})
ml_dataset

,Dataset_name,Data_type,task,No_of_instances,No_of_attribute
0,Iris,Tabular,Regression,2.46K Instances,13 Features
1,Dry Bean Dataset,Multivariate,Regression,432 Instances,5.63K Features
2,Rice (Cammeo and Osmancik),Multivariate,Classification,306 Instances,10 Features
3,Heart Disease,Multivariate,Classification,19.74K Instances,115 Features
4,Adult,Multivariate,"Classification, Regression, Clustering",3.19K Instances,52 Features
...,...,...,...,...,...
95,Horse Colic,Multivariate,"Classification, Clustering",2.14K Instances,
96,CMU Face Images,Image,Clustering,528 Instances,10 Features
97,KDD Cup 1999 Data,Multivariate,"Regression, Clustering",244 Instances,36 Features
98,Early stage diabetes risk prediction dataset.,Multivariate,"Classification, Clustering",2.57K Instances,
99,Anonymous Microsoft Web Data,null,"Classification, Regression, Clustering, Other",108 Instances,20 Features